www.omiver.me {
    root * /srv/static
    handle_path /static/* {
        file_server
    }

    handle /app* {
        reverse_proxy frontend:3000
    }

    # Send API traffic to Django and keep the frontend mounted under /app.
    handle /api/* {
        reverse_proxy http://web:8000
    }

    # Proxy all other requests to Gunicorn.
    handle {
        reverse_proxy http://web:8000
    }
}
