.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #608479;
  /* Desaturated green from image */
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: -12px;
  /* Vertically center thumb on the 1.5 height track */
}

.custom-slider.slider-error::-webkit-slider-thumb {
  background: red;
}
.custom-slider.slider-error::-moz-range-thumb {
  background: red;
}
.custom-slider.slider-error::-ms-thumb {
  background: red;
}
