{% load static %}
<footer>
  <p class="disclaimer">Omiver is a wellness technology company. Our test kits and recommendations are intended
    exclusively for wellness purposes. We are not a laboratory service or medical provider, and all biomarker measuring
    and analysis are provided by independent thrid parties. Omiver cannot diagnose you with any disease or condition,
    and any and allinformation provided by Omiver is not medical advice and is not intended to replace the advice of
    your medical professional. You should always seek the advice of your physician or other healthcare providers with
    any questions you may have regarding diagnosis, cure, treatment, mitigations, or prevention of any disease or other
    medical condition or impairment or the status of your health.</p>

  <div class="options">
    <p>Omiver Nutrition© Copyright 2025</p>
    <img src="{% static '/r.svg' %}" />
    <span>
      <a href="/privacy">Privacy Policy</a>
      <p>|</p>
      <a href="/terms">Terms of Service</a>
    </span>
  </div>
</footer>