{% extends 'core/base.html' %}
{% load static %}

{% block inner_styles %}
<link rel="stylesheet" href="{% static 'core/information/style.css' %}" />

<script>
  function initMobileSliders() {
    if (window.innerWidth > 1000) return // only mobile

    const sliders = document.querySelectorAll('.mobile-slider')
    sliders.forEach((slider) => {
      const items = slider.querySelectorAll('.slider-item')
      let currentIndex = 0

      items.forEach((item, index) => item.classList.toggle('active', index === currentIndex))

      const prevBtn = slider.querySelector('.prev-btn')
      const nextBtn = slider.querySelector('.next-btn')

      prevBtn.addEventListener('click', () => {
        items[currentIndex].classList.remove('active')
        currentIndex = (currentIndex - 1 + items.length) % items.length
        items[currentIndex].classList.add('active')
      })

      nextBtn.addEventListener('click', () => {
        items[currentIndex].classList.remove('active')
        currentIndex = (currentIndex + 1) % items.length
        items[currentIndex].classList.add('active')
      })
    })
  }

  window.addEventListener('load', initMobileSliders)
  window.addEventListener('resize', initMobileSliders)
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // For the response message from the contact us form
    document.body.addEventListener('htmx:afterSwap', (e) => {
      const response = document.querySelector('.form-response')
      if (response) {
        setTimeout(() => {
          response.style.opacity = 0
          setTimeout(() => response.remove(), 300)
        }, 2000)
      }
    })
  })
</script>
{% endblock %}

{% block inner_content %}
<div class="page-section our-process-box">
  <p class="section-title">End-to-end Service for Full Support</p>
  <h1 class="section-description">Omiver's end-to-end supports you throughout your wellness journey</h1>
  <div class="main-infographic">
    <div class="left-column mobile-slider">
      <div class="slider-wrapper">
        <div class="point-info-box slider-item">
          <div class="info-icon">
            <img src="{% static 'core/information/profile_icon.svg' %}" />
          </div>
          <span>
            <h3>Goal Consultation</h3>
            <h4>Biodemographic and lifestyle assessment</h4>
          </span>
        </div>
        <div class="point-info-box slider-item">
          <div class="info-icon">
            <img src="{% static 'core/information/beaker_icon.svg' %}" />
          </div>
          <span>
            <h3>Sample Collection</h3>
            <h4>At-home testing kits for whole blood samples</h4>
          </span>
        </div>
        <div class="point-info-box slider-item">
          <div class="info-icon">
            <img src="{% static 'core/information/molecule_icon.svg' %}" />
          </div>
          <span>
            <h3>Molecular Profiling</h3>
            <h4>Biochemical and molecular data acquisition</h4>
          </span>
        </div>
        <div class="point-info-box slider-item">
          <div class="info-icon">
            <img src="{% static 'core/information/gear_icon.svg' %}" />
          </div>
          <span>
            <h3>Regimen Generation</h3>
            <h4>Actionable insights, adaptative feedback</h4>
          </span>
        </div>
        <div class="point-info-box slider-item">
          <div class="info-icon">
            <img src="{% static 'core/information/megaphone_icon.svg' %}" />
          </div>
          <span>
            <h3>Platform Reporting</h3>
            <h4>Platform access for monitoring and feedback reporting</h4>
          </span>
        </div>
      </div>

      <div class="slider-buttons">
        <button class="prev-btn">‹</button>
        <button class="next-btn">›</button>
      </div>
    </div>
    <div class="right-column">
      <img src="{% static 'core/information/report_screenshot.png' %}" />
    </div>
  </div>
</div>

<div class="page-section our-service-box">
  <p class="section-title">Value-based Results</p>
  <h1 class="section-description">One-stop Solution for a Healthier You</h1>
  <p class="section-subtext">Our service includes a novel at-home test encompassing 100+ biomarkers related to diet and
    exercise activities, as well as access to our recommendation platform that continuously adapts to user feedback and
    up-to-date literature.</p>
  <div class="tiles">
    <div class="tile">
      <div class="tile-header green">
        <h3>Platform Membership</h3>
      </div>
      <div class="tile-content">
        <p class="tile-description-primary">Plan includes</p>
        <p class="tile-description-secondary"><img src="{% static 'core/index/round-check.svg' %}" />Localized
          profiles access</p>
        <p class="tile-description-secondary"><img src="{% static 'core/index/round-check.svg' %}" />Predictive
          dietary and fitness regimens</p>
        <p class="tile-description-secondary"><img src="{% static 'core/index/round-check.svg' %}" />Kit tracking and
          ordering</p>
      </div>
    </div>
    <div class="tile">
      <div class="tile-header red">
        <h3>Wellness Overview Test Kit</h3>
      </div>
      <div class="tile-content">
        <p class="tile-description-primary">Plan includes</p>
        <p class="tile-description-secondary"><img src="{% static 'core/index/round-check.svg' %}" />Covers 100+
          molecules related to nutrition, fitness, and performance</p>
        <p class="tile-description-secondary"><img src="{% static 'core/index/round-check.svg' %}" />Annual,
          quarterly, and monthly bundles</p>
        <p class="tile-description-secondary"><img src="{% static 'core/index/round-check.svg' %}" />Discounted
          pricing for higher volumes</p>
      </div>
    </div>
  </div>
  <a class="contact-us-link" href="#contact-form-response">Contact for Pricing Info
    <img src="{% static 'core/information/diagonal_icon.svg' %}" /></a>
</div>

<div class="page-section our-test-kit-box">
  <p class="section-title">Precise Coverage for Your Goals</p>
  <h1 class="section-description">Profiling of molecules specifically related to nutrition, fitness, and performance
  </h1>
  <div class="mobile-slider">
    <div class="main-infographic slider-wrapper">
      <span class="left-column slider-item">
        <div class="checkmark-item">
          <h2>Amino Acids</h2>
          <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
        </div>
        <div class="checkmark-item">
          <h2>Nucleotides</h2>
          <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
        </div>
        <div class="checkmark-item">
          <h2>Lipids</h2>
          <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
        </div>
        <div class="checkmark-item">
          <h2>Carnitines</h2>
          <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
        </div>
        <div class="checkmark-item">
          <h2>Organic Acids</h2>
          <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
        </div>
      </span>
      <span class="right-column slider-item">
        <div class="checkmark-item">
          <h2>Carbohydrates</h2>
          <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
        </div>
        <div class="checkmark-item">
          <h2>Fatty Acids</h2>
          <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
        </div>
        <div class="checkmark-item">
          <h2>Flavonoids</h2>
          <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
        </div>
        <div class="checkmark-item">
          <h2>Carotenoids</h2>
          <img class="checkmark-icon" src="{% static 'core/information/checkmark.svg' %}" />
        </div>
      </span>
    </div>

    <div class="slider-buttons">
      <button class="prev-btn">‹</button>
      <button class="next-btn">›</button>
    </div>
  </div>
  <a class="contact-us-link" href="#contact-form-response">Reach out for Details
    <img src="{% static 'core/information/diagonal_icon.svg' %}" /></a>
</div>

<div class="page-section our-platform-box">
  <p class="section-title">Accessible, Data-Driven, Customized Wellness</p>
  <h1 class="section-description">Our platform makes your wellness guidance dynamic and intuitive</h1>
  <p class="our-platform-subtext">Omiver is available via the web and the Apple App Store. Our integration of molecular
    data provides a more comprehensive and dynamic understanding of specific health management needs. Because evidence-
    based nutrition should evolve with the person in front of you.</p>
  <a class="contact-us-link" href="/login">Get Started <img src="{% static 'core/information/diagonal_icon.svg' %}" />
  </a>
  <img src="{% static 'core/information/three_device_screenshot.png' %}" />
</div>

<div class="page-section contact-us-block main-infographic">
  <form class="left-column" hx-post="{% url 'send-email' %}" hx-target="#contact-form-response" hx-swap="innerHTML">
    {% csrf_token %}
    <span>
      <label class="contact-me-input">
        <h4>Full name</h4>
        <input name="name" placeholder="write..." />
      </label>
      <label class="contact-me-input">
        <h4>Email</h4>
        <input name="email" placeholder="write..." />
      </label>
    </span>
    <span>
      <label class="contact-me-input">
        <h4>Message</h4>
        <textarea name="message" placeholder="write..."></textarea>
        <button type="submit" class="submit-button">
          Submit
          <img src="{% static 'core/information/diagonal_icon.svg' %}" />
        </button>
      </label>
    </span>
  </form>
  <div class="right-column">
    <div class="point-info-box">
      <div class="info-icon">
        <div class="icon-border-div">
          <img src="{% static 'core/information/message_icon.svg' %}" />
        </div>
      </div>
      <span>
        <h3>Email</h3>
        <h4><a href="mailto:info@omiver.me">info@omiver.me</a></h4>
      </span>
    </div>
    <div class="point-info-box">
      <div class="info-icon">
        <div class="icon-border-div">
          <img src="{% static 'core/information/linkedin_icon.svg' %}" />
        </div>
      </div>
      <span>
        <h3>LinkedIn</h3>
        <h4><a href="https://www.linkedin.com/company/omiver" target="_blank"
            rel="noopener noreferrer">https://www.linkedin.com/company/omiver</a></h4>
      </span>
    </div>
    <div class="point-info-box">
      <div class="info-icon">
        <div class="icon-border-div">
          <img src="{% static 'core/information/instagram_icon.svg' %}" />
        </div>
      </div>
      <span>
        <h3>Instagram</h3>
        <h4><a href="https://www.instagram.com/omiverwellness" target="_blank"
            rel="noopener noreferrer">@omiverwellness</a>
        </h4>
      </span>
    </div>
  </div>
</div>
<div id="contact-form-response"></div>
{% endblock %}