.athlete-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

  filter: brightness(50%);
  border-radius: 80px;
}


.action-button {
  width: 400px;
  height: 50px;

  background-color: #a8879d;
  border-radius: 60px;
  border-style: none;

  color: white;

  padding: 0px 25px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button img {
  position: absolute;
  right: 25px;
  height: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}

.section-title {
  margin-bottom: 50px;
}

.logo {
  margin: 25px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border-radius: 20px;
  border: none;

  height: 40px;
  margin: 5px;
  width: 400px;
  background-color: #f8f8f8;
  color: black;

  padding-left: 20px;
}


#or-text {
  margin: 50px 0px;
  font-size: 1.5rem;
  font-weight: 100;
}

button {
  cursor: pointer;
}

.error-message {
  list-style-type: none;
  color: red;
}

.login-footer {
  margin-top: 50px;
  font-size: 0.9rem;
  color: #555;
}

.account-type-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.account-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.account-type img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.inputs * {
  border-radius: 20px;
  border: none;

  height: 40px;
  margin: 5px;
  width: 400px;
  background-color: #f8f8f8;
  color: black;

  padding-left: 20px;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  height: 300px;
}

.register_textarea {
  border-radius: 20px;
  border: none;
  flex-grow: 1;

  margin: 5px;
  width: 400px;
  background-color: #f8f8f8;
  color: black;

  padding: 20px;
  resize: none;
}